* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #272727;
  --low-contrast: #9c9c9c;
  --high-contrast: #ffffff;
  --highlight: #0000ff;
}

html,
body {
  font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background-color: var(--background);
  color: var(--low-contrast);
  line-height: 1.7;
  font-size: 16px;
}

::selection {
  background-color: var(--highlight);
  color: white;
}

a {
  color: var(--high-contrast);
  text-decoration: none;
}

a:hover {
  color: var(--highlight);
  transition: all 300ms;
}

img {
  border-radius: 5px;
}
