.heading {
  font-size: 1.7em;
  font-weight: normal;
  color: var(--high-contrast);
  margin: 1.5em 0;
  position: relative;
}

.highlight {
  position: relative;
  z-index: 1;
}

.highlight::after {
  content: "";
  display: block;
  height: 0.7em;
  width: 100%;
  background-color: var(--highlight);
  position: absolute;
  top: 0.7em;
  left: 0;
  z-index: -1;
}
