.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--high-contrast);
  padding-bottom: 1em;
}

.header nav {
  display: flex;
  gap: 2em;
}

.header h1 {
  font-size: 1em;
  font-weight: normal;
}
