.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--high-contrast);
}

.header nav {
  display: flex;
  gap: 2em;
}

.header h1 {
  font-size: 1em;
  font-weight: normal;
}

.link {
  border-bottom: 4px solid var(--background);
  transition: all 300ms;
}

.activeLink {
  border-bottom: 4px solid var(--highlight);
  transition: all 300ms;
}
