.container img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: block;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5em;
  color: var(--high-contrast);
  justify-content: center;
  margin-bottom: 1.5em;
}

.container p {
  margin-bottom: 2em;
}

@media (min-width: 600px) {
  .container {
    display: flex;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
  }

  .container img {
    margin: 0;
  }

  .container p {
    max-width: 350px;
  }

  .heading {
    font-size: 2em;
  }
}
