.heading {
  font-size: 2em;
  font-weight: normal;
}

.container img {
  width: 100%;
  max-width: 300px;
  margin: auto;
  display: block;
}

.links {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

@media (min-width: 800px) {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .container img {
    margin: 0;
  }

  .container p {
    max-width: 350px;
    font-size: 18px;
    margin-top: 2em;
  }
}
