.project {
  margin-bottom: 5em;
}

.project img {
  width: 100%;
  margin: 2em 0;
}

.project ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2em 0;
}

.project li:not(:last-child) {
  margin-right: 2em;
}

.links {
  display: flex;
  gap: 2em;
  margin: auto;
  justify-content: center;
  font-size: 1.5em;
}

.project h2 {
  font-weight: normal;
  color: var(--high-contrast);
  position: relative;
  z-index: 1;
}

.project h2::after {
  content: "";
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--highlight);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
