.project {
  margin-bottom: 5em;
}

.project img {
  max-width: 100%;
  margin-top: 2em;
}

.project ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.details {
  margin: 2em 0;
}

.project li:not(:last-child) {
  margin-right: 2em;
}

.links {
  display: flex;
  gap: 2em;
  margin: auto;
  justify-content: center;
}

.project h2 {
  font-weight: normal;
  color: var(--high-contrast);
  position: relative;
  z-index: 1;
}

.project h2::after {
  content: "";
  display: block;
  height: 1.5em;
  width: 1.5em;
  background-color: var(--highlight);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 900px) {
  .project {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .project:nth-child(2n),
  .reverseBlock {
    grid-template-columns: 1fr 2fr;
  }

  .project .imgWrapper {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-right: 4em;
  }

  .project h2 {
    align-self: end;
    margin-bottom: 1em;
  }

  .project ul {
    justify-content: flex-start;
  }

  .details {
    margin-top: 0;
  }

  .project .links {
    justify-content: start;
  }

  .project:nth-child(2n) .imgWrapper,
  .reverseBlock .imgWrapper {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-right: 0;
    margin-left: 4em;
  }

  .project:nth-child(2n) > div,
  .reverseBlock > div {
    grid-column: 1/2;
  }
}
